<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CRMWorkflowDB" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=KS.CRMWorkflow.Database_TEST;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
